body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

.header {
  height: 56px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
  ;
}

.header-container {
  height: 52px;
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  /* margin-top: 16px; */

  /* margin-right: 76px; */

}

.logo-part {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;

}

.nav-list {
  /* display: flex; */
  display: none;
  gap: 40px;
  color: #404bbf;
  position: relative;
}



.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  position: relative;
  color: #404bbf;
}


.nav-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}


.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
  margin-left: auto;
}

.address-list {
  /* display: flex; */
  display: none;
  /* gap: 40px; */
}

.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.header-menu-btn {
  display: block;
  justify-content: space-between;
  background-color: #FFFFFF;
  border: none;
  align-items: center;
  /* margin-top: 16px;
  margin-right: 16px; */
}

.icon-header-btn {
  fill: #2f2f37;
}

.mob-menu {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  padding: 24px 24px 40px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.mob-menu-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 24px;
  height: 24px;
  margin-bottom: 24px;
  border-radius: 100%;
  fill: #e7e9fc;
  cursor: pointer;
  border: 1px solid #fff;
}



.mob-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mob-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.current-mob {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #404bbf;
}


.mob-address-list {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.mob-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-address-link:hover {
  color: #404bbf;
}

.mob-social-icon {
  display: flex;
  gap: 40px;
  padding-right: 24px;
  margin-top: 48px;
}

.mob-social-icon-item {
  border-radius: 50%;
  width: 40px;
  height: 40px;

}

.mob-social-icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




/* ----------------------HERO-------------------------- */

.hero {
  background: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/hero/main-bg-mob.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-top: 188px;
    padding-bottom: 188px; */
  padding: 72px 52px 72px 52px;


}

@media screen and (-webkit-min-device-pixel-ratio:2),
(min-resolution: 192dpi),
(min-resolution: 2dppi) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/hero/main-bg-mod-2x.jpg);
  }
}

.hero-title {
  font-weight: 700;
  /* font-size: 56px; */
  font-size: 36px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 48px;
  max-width: 216px;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background-color: #4D5AE5;
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.hero-btn:hover,
.hero-btn:focus {
  background: #404BBF;
}


/* ----------------------FEATURES-------------------------- */

.feature {
  padding: 96px 0;
}


.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-item {
  width: 100%;
}

.feature-icon {
  display: flex;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  display: none;
}

.feature-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.feature-text {

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

}

/* ----------------------TEAM-------------------------- */

.team {
  background: #f4f4fd;
  padding: 96px 0;

}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 74px;
}

.team-item {
  background-color: #FFFFFF;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

}

.team-item-img {
  padding: 32px 0;
  margin: 0 auto;
}

.social-icon {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
}

.social-icon-item {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.social-icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link:hover,
.social-icon-link:focus {
  background-color: #404bbf;
}


.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}


/* ----------------------PORTFOLIO-------------------------- */

.portfolio {
  /* padding-bottom: 120px;
  padding-top: 120px; */
  padding: 96px 0;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}



.portfolio-list {
  display: flex;
  /* gap: 48px 24px; */
  gap: 48px;
  flex-wrap: wrap;
}

.portfolio-item {
  /* width: calc((100% - 48px) / 3); */
  width: 100%;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}



.portfolio-item:hover .portfolio-cover-text {
  transform: translateY(0);
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-cover-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-cover-text {
  position: absolute;
  top: 0;
  background: #4d5ae5;
  height: 100%;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-item-img {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}


.footer {
  display: flex;
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

.container-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 72px 24px;
}


.first-part-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-footer-part {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}

.social-media {}

.social-media-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.social-icon-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.social-icon-item-footer {
  width: 40px;
  height: 40px;
}

.social-icon-link-footer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link-footer:hover,
.social-icon-link-footer:focus {
  background-color: #31d0aa;
}

.icon-footer {
  fill: #f4f4fd;
}

.footer-email {}

.emeil-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.email-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}


.input-email {
  width: 288px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.input-email::placeholder {
  color: #fff;

}

.btn-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 165px;
  height: 40px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
}

.icon-footer-btn {
  margin-left: 16px;
  fill: #fff;
}


.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background: rgba(46, 47, 66, 0.4);
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
}

.modal {
  position: absolute;
  border-radius: 4px;
  /* width: 408px;
  min-height: 584px; */

  width: 288px;
  min-height: 623px;

  background-color: #fcfcfc;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 16px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close {
  position: absolute;
  right: 24px;
  top: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  padding: 0;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.btn-close:hover,
.btn-close:focus {
  background-color: #404bbf;
  border: none;

}

.btn-close:hover>.icon-close,
.btn-close:focus>.icon-close {
  fill: #ffffff;
}

.icon-close {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  max-width: 360px;
  margin-bottom: 16px;
}

.form-modal {}

.modal-field {
  margin-bottom: 8px;
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  /* width: 360px; */
  width: 256px;
  height: 40px;
  outline: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus+.modal-icon {
  fill: #4d5ae5;
}

.modal-input-wrap {
  position: relative;
  margin-bottom: 16px;
}

.modal-icon {
  position: absolute;
  fill: #2e2f42;
  left: 16px;
  top: 11px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  /* width: 360px; */
  width: 256px;
  height: 120px;
  outline: transparent;
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text:focus {
  border-color: #4D5AE5;
}

.modal-checkbox {
  margin-bottom: 24px;
}

.check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  align-items: center;
}

.check-text .check-text-icon {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  fill: transparent;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
}

.modal-check-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.check-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
  margin-left: 4px;
}

.modal-check:checked+.check-text .check-text-icon {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  margin: 0 auto;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
}


/* ----------------------TABLET-------------------------- */
@media screen and (min-width: 768px) {

  .container {
    width: 768px;

  }

  /* ----------------------HEADER-------------------------- */
  .nav-link.current::after {
    bottom: 6px;
  }

  .logo {

    margin-right: 120px;
  }

  .nav-list {
    display: flex;
    margin-right: 121px;
  }

  .address-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
  }

  .address-link {
    font-size: 12px;
  }

  .header-menu-btn {
    display: none;
  }


  /* ----------------------HERO-------------------------- */
  .hero-wrap {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/main-bg-tab.jpg);
  }

  @media screen and (-webkit-min-device-pixel-ratio:2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppi) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/hero/main-bg-tab-2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    max-width: 496px;
  }

  /* ----------------------FEATURES-------------------------- */

  .feature-list {
    gap: 72px 24px;
  }

  .feature-subtitle {
    text-align: left;
  }

  .feature-item {
    width: calc((100% - 24px) / 2);
  }

  /* ----------------------TEAM-------------------------- */
  .team-list {
    gap: 64px 24px;
  }


  /* ----------------------PORTFOLIO-------------------------- */
  .portfolio-list {
    gap: 72px 24px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }

  /* ----------------------FOOTER-------------------------- */

  .container-footer {
    align-items: baseline;
  }

  .first-part-footer {
    align-items: start;
  }

  .social-media-title {
    text-align: left;
  }

  .emeil-text {
    text-align: start;
  }

  /* ----------------------MODAL-------------------------- */
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
  }

  .modal-input {
    width: 360px;
  }

  .modal-text {
    width: 360px;
  }
}

.mob-menu {
  display: none;
}

/* ----------------------DESKTOP-------------------------- */
@media screen and (min-width: 1158px) {
  .container {
    min-width: 1158px;
  }

  /* ----------------------HEADER-------------------------- */

  .logo {
    margin-right: 76px;
  }

  .nav-list {
    display: flex;

  }

  .address-list {
    display: flex;
    gap: 40px;
  }

  /* ----------------------HERO-------------------------- */

  .hero-wrap {
    padding-top: 188px;
    padding-bottom: 188px;

  }

  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/main-bg.jpg);
  }

  @media screen and (-webkit-min-device-pixel-ratio:2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppi) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/hero/main-bg-2x.jpg);
    }
  }


  /* ----------------------FEATURES-------------------------- */

  .feature {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .feature-list {
    gap: 24px;
  }

  .feature-item {
    width: calc((100% - 72px) / 4);
  }

  .feature-icon {
    display: flex;
  }

  .feature-subtitle {
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }

  .feature-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  /* ----------------------TEAM-------------------------- */
  .team {
    padding-bottom: 120px;
    padding-top: 120px;
  }

  .team-item {
    width: calc((100% - 3 * 24px)/4);
  }

  .team-list {
    gap: 24px;
  }


  /* ----------------------PORTFOLIO-------------------------- */

  .portfolio {
    padding-bottom: 120px;
    padding-top: 120px;
  }

  .portfolio-list {
    gap: 48px 24px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }

  /* ----------------------FOOTER-------------------------- */

  .container-footer {
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 0;
  }

  .footer {
    padding-bottom: 100px;
    padding-top: 100px;
  }

  .first-part-footer {
    margin-right: 120px;
  }

  .social-media {
    margin-right: 80px;
  }



  .input-email {
    width: 264px;
    height: 40px;
  }

  .first-part-footer {
    align-items: start;
  }

  .email-item {
    flex-wrap: nowrap;
  }


}